<footer class="footer">
    <p>&copy; 2025 Code Architects srl. Tutti i diritti riservati.</p>
    <p><a href="mailto:info@codearchitects.com">info&#64;  codearchitects.com</a></p>
    <img [src]="logoIofa" class="logoIFOA" />
    <img [src]="logoCa" class="logoCA" />
    <div class="icone">
      <a href="https://www.facebook.com/CodeArchitectsItalia/" target="_blank" rel="noopener noreferrer"><i
        class="fa-brands fa-facebook fa-xl" style="color: #bf504f;"></i></a>
        <a href="https://it.linkedin.com/company/code-architects" target="_blank" rel="noopener noreferrer"><i
          class="fa-brands fa-linkedin fa-xl" style="color:#bf504f;"></i></a>
          <a href="https://www.instagram.com/codearchitectsitalia/#" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-instagram fa-xl" style="color: #bf504f;"></i></a>
          </div>
          <p class="policy"><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service"
            style="color: #fff; text-decoration: none;">Termini di Servizio</a></p>
          </footer>