@import"../../variabili";
.btn {
  background: $colore-primario;
  color: $colore-testo;

  &:hover {
    background: $colore-testo;
    border: $colore-primario 2px solid;
    color: $colore-primario;
    transform: scale(1.00);
  }
}