@import"../../variabili";

.navbar {
  background-color: $colore-navbar;
  position: sticky;
  top: 0;
  z-index: 1;


  a {
    color: $colore-testo;
    font-size: 20px;
    padding: 10px 15px;
    text-decoration: none;

    &:hover {
      color: $colore-primario;
    }
  }
}

.navbarLinks {
  display: flex;
  justify-content: flex-end;

  a {
    margin-left: 10px;
    margin-right: 70px;
  }
}

.logo {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.active {
  color: $colore-primario !important;
  font-weight: bold !important;
}

