@import"../../variabili";
.logoCA {
    height: 100%;
    width: 100%;
    margin-left: 20px;
  }
  
  .logoIFOA {
    height: 100%;
    width: 100%;
    margin-right: 20px;
  }
  
  footer {
    background-color: $colore-navbar;
    color: $colore-testo;
    width: 100%;
    bottom: 0;
 

    a {
      color: $colore-testo;
      text-decoration: none;
    }
    .policy{
      margin:0;
    }
  }
  
