<footer class="container-fluid d-flex flex-column text-white py-4">
  <div class="row text-center">
    <div class="col-12 ">
      <p>&copy; 2025 Code Architects srl. Tutti i diritti riservati.</p>
      <p><a href="mailto:info@codearchitects.com" style="color: #fff;">info&#64;codearchitects.com</a></p>
    </div>
    </div>

    <div class="row text-center">

    <div class="col-4  d-flex justify-content-start align-items-center">
      <div class="mx-3 text-left">
        <img [src]="logoIfoa" class="logoIFOA" style="max-width: 100px;" />
      </div>
      </div>

      <div class="col-4 d-flex justify-content-evenly align-items-center">
        <a href="https://www.facebook.com/CodeArchitectsItalia/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-facebook fa-xl" style="color: #bf504f;"></i>
        </a>
        <a href="https://it.linkedin.com/company/code-architects" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin fa-xl" style="color: #bf504f;"></i>
        </a>
        <a href="https://www.instagram.com/codearchitectsitalia/#" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-instagram fa-xl" style="color: #bf504f;"></i>
        </a>
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center">
      <div class="mx-3 text-right">
        <img [src]="logoCa" class="logoCA" style="max-width: 120px;" />
      </div>
    </div>
    </div>
  <div class="row text-center">
    <div>
      <p class="policy">
        <a href="/privacy-policy" style="color: #fff;">Privacy Policy</a> | 
        <a href="/terms-of-service" style="color: #fff; text-decoration: none;">Termini di Servizio</a>
      </p>
    </div>
  </div>
</footer>

