@import"../../variabili";

.logoCA {
  margin-left: 20px;
  height: 100%;
  width: 100%;
}

.logoIFOA {
  margin-right: 20px;
  height: 100%;
  width: 100%;
}

footer {
  background-color: $colore-navbar;
  bottom: 0;
  color: $colore-testo;
  width: 100%;

  a {
    color: $colore-testo;
    text-decoration: none;
  }

  .policy {
    margin: 0;
  }
}