@import"./variabili";
* {
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to bottom, $colore-header1, $colore-header2, #293238);
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
   
  }