@import"../../variabili";
    .myimg {
      border-radius: 50px;
      box-shadow: white 0px 0px 20px;
      height: 500px;
      width: 400px;
    }

  .container-introduzione {
    font-family: $font-testo;
    color: $colore-testo;
  
    h1 {
      font-size: 35px;
    }
  
    h2 {
      font-size: 42px;
    }
  
    h3 {
      font-size: 40px;
    }
  
    span {
      color: $colore-primario;
      font-weight: bold;
      font-size: 55px;
    }
  }