<div [formGroup]="contattiForm" (ngSubmit)="onSubmit()" class="container-fluid my-4 ">
    {{contattiForm.value | json}}
  <div class="row justify-content-center">
      <div class="col-7 border shadow rounded p-3 bg-light form-contact  fw-bold ">
          <form class="my-1 mx-4 text-dark  " method="POST" action="">
             
              <h1 class="display-2  text-center  fw-bold"></h1>
              <div class="mb-3 mt-5 ">
                  <label class="form-label">User Name</label>
                  <input type="text" class="form-control  mx-auto" name="name" value="" placeholder="Mario Rossi">
              </div>
              <div class="mb-3 ">
                  <label class="form-label">Email address</label>
                  <input type="email" class="form-control  mx-auto" name="email" value="" placeholder="example@mail.it">
              </div>
              <div class="mb-3 ">
                <label class="form-label">Description</label>
                <textarea class="form-control  mx-auto" name="description" value="" placeholder="Write here your message"></textarea>
            </div>
            
            <button type="submit" class="btn btn-danger">Submit</button>
              <div class="register">
                  <p class="small pe-2"> <a href=""></a></p>
              </div>
          </form>
      </div>
  </div>
</div>