@import"../../variabili";

article {
  background: linear-gradient(to bottom, $colore-header1, $colore-header2, #293238);
  padding: 15px;

  h1 {
    color: $colore-primario;
    font-family: $font-testo;
    font-size: 60px;
  }
}

.section-chiSiamo {
  color: $colore-testo;
  font-family: $font-testo;
  font-size: 22px;
}

.titolo {
  color: $colore-primario;
  font-family: $font-testo;
  font-size: 50px;
}

.fototesseraIlenia {
  background-color: white;
  border-radius: 50%;
  box-shadow: white 0px 0px 20px;
  height: 350px;
  object-fit: contain;
  width: 330px;
}

.fototesseraZullo {
  background-color: white;
  border-radius: 50%;
  box-shadow: white 0px 0px 20px;
  height: 350px;
  object-fit: contain;
  width: 330px;
}