<article class="container-fluid ">
    <h1 class="titolo text-center " >Noi Siamo:</h1>

    <!-- Federico Zullo -->
    <section class="row section-chiSiamo justify-content-evenly align-items-center mb-5">
        <div class="col-12 col-lg-4  text-center ">
            <h2 class="titolo">Federico Zullo</h2>
            <img class="fototesseraZullo  " [src]="fototesseraZullo" alt="Federico Zullo">
        </div>
        <div class="col-md-6">
            <p>
                Ciao, mi chiamo Federico Zullo e sono un appassionato di codice e design. 
                Trasformo idee in interfacce intuitive e performanti. Specializzato in sviluppo frontend, 
                lavoro con tecnologie moderne per creare esperienze utente fluide e accattivanti. Sempre alla ricerca di nuove sfide, 
                unisco estetica e funzionalità per portare il web a un livello superiore.
            </p>
        </div>
    </section>

    <!-- Ilenia Taccogna -->
    <section class="row section-chiSiamo  justify-content-evenly align-items-center mt-5">
        <div class="col-lg-6">
            <p>
                Ciao, mi chiamo Ilenia Taccogna e ho 23 anni. Sono una frontend developer e adoro il mio lavoro. 
                La tecnologia e il design mi appassionano da sempre, e ho scelto di dedicarmi alla creazione di esperienze web 
                che siano non solo funzionali, ma anche esteticamente piacevoli. 
                Ogni giorno cerco di migliorarmi, imparando nuove tecnologie e perfezionando le mie competenze per offrire il meglio.
            </p>
        </div>
        <div class=" col-12 col-md-4 text-center ">
            <h2 class="titolo">Ilenia Taccogna</h2>
            <img class="fototesseraIlenia" [src]="fototesseraTaccogna" alt="Ilenia Taccogna">
        </div>
    </section>
</article>
